html{
    font-family: Futura;
}
body{
    position: relative;
}
.wrap {
    min-height: 100vh;
    position: relative;
}

// header style
.header{
    background: #FFFFFF;
    box-shadow: 10px 10px 28px 2px rgba(0, 0, 0, 0.04);
}

// nav
.items {
    color: #505050;
}

// card style
.card-tag{
    color: #BBBBBB;
}
.date{
    color: #BBBBBB;
}
.category{
    background-color: #0151B0;
    font-size: 62.5%;
}
.card-title{
    color: #505050;
}
.block-title{
    color: #505050;
}

.main-img{
    max-width: 55rem;
}
// Footer
.footer{
    background-color: #FC563F;
    position: absolute;
    bottom: 0;
    width: 100%;

}
.container{
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}
.logo-wrap,.links,.copy{
    display: flex;
    justify-content: center;
    align-items: center;
}

// 404
.u-title-404{
    font-size: 12.5rem;
    color: #505050;
}