html{
    font-family: Futura;
}
body{
    position: relative;
}
.wrap {
    min-height: 100vh;
    position: relative;
}

// header style
.header{
    background: #FFFFFF;
    box-shadow: 10px 10px 28px 2px rgba(0, 0, 0, 0.04);
}

// nav
.items {
    color: #505050;
}

// card style
.card-tag{
    color: #BBBBBB;
}
.date{
    color: #BBBBBB;
}
.category{
    background-color: #0151B0;
    font-size: 62.5%;
}
.card-title{
    color: #505050;
}
.block-title{
    color: #505050;
}

.main-img{
    max-width: 55rem;
}
// Footer
.footer{
    background-color: #FC563F;
    // position: absolute;
    // bottom: 0;
    width: 100%;

}
.container{
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}
.logo-wrap,.links,.copy{
    display: flex;
    justify-content: center;
    align-items: center;
}

// 404
.u-title-404{
    font-size: 12.5rem;
    color: #505050;
}

// top-
.top-button{
    position: fixed;
    right: 10%;
    bottom: 32%;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        width: 2.0rem;
    }
}
// carousel
.container{
    .custom{
        .carousel{
            .control-arrow {
                width: 2.5rem;
                height: 2.5rem;
                background: #FFFFFF;
                box-shadow: 10px 10px 28px 2px rgb(0 0 0 / 4%);
                border-radius: 50px;
                top: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 1;
            }
        }
    }
.carousel .control-next.control-arrow:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border: 0px;
    border-top: solid 2px #505050;
    border-right: solid 2px #505050;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    }
.carousel.carousel-slider .control-arrow:hover {
    background: #ffffff;
    }
.carousel .control-prev.control-arrow:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border: 0px;
    border-top: solid 2px #505050;
    border-right: solid 2px #505050;
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
}
.thumbs-wrapper {
    display: none;
}

// pickUp section
.pickUp{
    background-color: #F9F6F3;
}
.carousel > .slider-wrapper > .slider{
    width: 33.333%;
}